<ion-header>
  <ion-navbar>
    <ion-title>
      Lista de Compras
    </ion-title>
    <ion-buttons end>

      <button ion-button icon-only color="royal"(click)="novacompra()">
          <ion-badge item-end>+</ion-badge>
      </button>

      <button ion-button icon-only color="royal">
        <ion-badge item-end>{{compras.length}}</ion-badge>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="compras.length > 0">
    <ion-list-header>
      Lista de {{dataatual | date:'fullDate'}}
    </ion-list-header>
  <ion-item-sliding *ngFor="let compra of compras">
    <ion-item>
          {{compra}}
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger" (click)="delete(compra)">
        <ion-icon name="md-trash"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<p *ngIf="compras.length == 0 ">Não tem nenhum produto cadastrado!</p>

</ion-content>
