<ion-header>
  <ion-navbar>
    <ion-title>
      Lista de Tarefas
    </ion-title>
    <ion-buttons end>

      <button ion-button icon-only color="royal"(click)="novatarefa()">
        <ion-badge item-end>+</ion-badge>
      </button>
      <button ion-button icon-only color="royal">
        <ion-badge item-end>{{tarefas.length}}</ion-badge>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="tarefas.length > 0">
    <ion-list-header>
      Lista de {{dataatual | date:'fullDate'}}
    </ion-list-header>
    <ion-item-sliding *ngFor="let tarefa of tarefas">
      <ion-item>
        {{tarefa}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(tarefa)">
          <ion-icon name="md-trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <p *ngIf="tarefas.length == 0 ">Não tem nenhuma tarefa cadastrada!</p>

</ion-content>